@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

:root {
    /* Color */
    --gray-color  : #EBEFFB;
    --primary-font: "Montserrat", sans-serif;
}

body {
    font-family     : var(--primary-font);
    background-color: var(--gray-color);
}

a {
    text-decoration: none;
}

ul {
    padding: 0 !important;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
p,
small {
    font-family: var(--primary-font);
}